html {
    height: 100%;
}
body {
	background:linear-gradient(to bottom right, #64B530 , #F64057);
	text-align: center;
	color: white;
	font-family: "Verdana", Sans-serif;
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}